<html>
    <head>
        <link href="/assets/style.css" type="text/css" rel="stylesheet"/>
        <!-- Need to make sure it's /assets/(filename) and not just assets/ because it will prepend the original url in this case it'll request /person/assets/style.css -->
    </head>
    <body>
        <h1>Person: <%= ID %></h1>
    </body>
</html>